:host {
  display: block;
  height: 100%;
}

nav a {
  display: block;
}

h1 {
  width: 100%;
  background-color: var(--main-color);
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  height: 70px;
}

.body {
  height: calc(100% - 70px);
}

a {
  text-decoration: none;
}

h1 > a {
  color: white;
}

nav {
  background-color: var(--secondary-color);
}

nav > a {
  color: white;
  margin: 5px 10px;
  padding: 5px;
  border-radius: 4px;
}

nav > a.active {
  background-color: var(--main-color);
  color: white;
}

nav > a:hover {
  text-decoration: underline;
}

.container {
  padding: 5px;
  box-sizing: border-box;
}
