* {
  font-size: 100%;
}

.container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 10%;
}

.container > div {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
  width: 500px;
}

.container > div > * {
  margin-bottom: 10px;
}

.container > div > *:last-child {
  margin-bottom: 0;
}

button {
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: var(--main-color);
  padding: 5px;
}

input {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
}

input:hover,
input:active,
input:focus,
button:hover  {
  box-shadow: 0px 0px 10px white;
}

button:active {
  box-shadow: inset 0px 0px 10px white;
}

input,
button {
  transition: box-shadow .5s ease;
}

div.error {
  background-color: var(--error-color);
  color: white;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.error > button {
  border: none;
  border-radius: 50px;
  background: transparent;
  height: 31px;
  width: 31px;
}
