<h2>My Heroes <a routerLink="/hero"><i class="fa fa-plus"></i></a></h2>
<message #message></message>
<ul>
  <li *ngFor="let hero of heroes">
    <a routerLink="/hero/{{hero.id}}">
      <span>{{hero.id}}</span>
      <span>{{hero.name}}</span>
    </a>
    <div (click)="warnDelete(hero)">
      <i class="fa fa-trash"></i>
    </div>
  </li>
</ul>
<modal #modal>
  <modal-header>
    <i class="fa fa-warning"></i> Warning
  </modal-header>
  <modal-body>Are you sure you want to delete {{deleteHero?.name}}?</modal-body>
  <modal-footer>
    <div class="modal-footer-buttons">
      <div>
        <button (click)="delete()">Accept</button>
        <button (click)="modal.hide()">Cancel</button>
      </div>
    </div>
  </modal-footer>
</modal>
