<div class="container">
  <div>
    <div>
      <input type="text" placeholder="name" [(ngModel)]="name" (keyup.enter)="login()">
    </div>
    <div>
      <input type="password" placeholder="password" [(ngModel)]="password" (keyup.enter)="login()">
    </div>
    <div *ngIf="error" class="error">
      <div>Invalid name or password</div>
      <button (click)="hideError()">
        &#215;
      </button>
    </div>
    <div>
      <button (click)='login()'>Login</button>
    </div>
  </div>
</div>
